$font-stack2: Helvetica, sans-serif;
$font-stack: athelas, georgia, serif;
$fontColor: rgb(0, 0, 0);

$cardBg: rgb(211, 211, 211);

$backgroundColor: rgb(228, 192, 216);
$backgroundDeep: rgb(213, 100, 176);
$accentColor: rgb(230, 10, 153);
$accentScroll: rgba(125, 185, 156, 0.415);
$darkAccent: rgb(25, 91, 60);
// $mutedAccent: rgb(49, 137, 96);
$mutedAccent: rgb(25, 91, 60);