$font-stack: Helvetica, sans-serif;
$textColor: rgb(248, 248, 249);

$backgroundColor: rgba(48, 46, 60, 0.637);
$backgroundDeep: rgb(28, 16, 44);
$accentColor: rgb(57, 201, 131);
$accentScroll: rgba(125, 185, 156, 0.415);
$darkAccent: rgb(25, 91, 60);
$mutedAccent: rgb(49, 137, 96);

//some nice gradients to choose from

// $grad-green: rgb(105, 215, 124);
$grad-green: rgb(91, 160, 106);
$grad-blue: rgb(58, 68, 95);
// $background-image: linear-gradient(-45deg, rgb(58, 68, 95), rgb(55, 25, 72));
$background-image: linear-gradient(to bottom right, $grad-green, $grad-blue, $grad-green, $grad-blue);
// $sand: #DECBA4;
// $blue: #3e5151;
// $background-image: linear-gradient(to bottom right, $sand, $blue, $sand, $blue);



* {
    scrollbar-color: $accentColor $accentScroll;
}

html {
    background: $background-image;
    background-size: 200% 200%;
    animation: gradient 20s ease infinite;

    @media print {
        background-color: white;
        background: none;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.content {
    font: 100% $font-stack;
    color: $textColor;

    background-image: none;
    background-color: $backgroundColor;
    padding-top: 0.5rem;

    border-radius: 6px;
    padding: 1%;
    margin-right: 8%;
    margin-left: 8%;

    @media screen and (max-width: 600px) {
        margin-right: 1%;
        margin-left: 1%;
    }

    @media print {
        margin-right: 0%;
        margin-left: 0%;
        background-color: white;

        .markdown {
            p {
                content: 'test';
                margin: 0.2rem;

                .spacer {
                    padding-bottom: 10rem;
                    content: 'test';
                }

                right {
                    float: right;
                }
            }
        }

        color: black;
    }
}

.markdown {

    tr,
    img {
        page-break-inside: avoid;
    }

    table {
        border-collapse: collapse;
        width: 50vw;

        tbody,
        thead {

            tr,
            td,
            th {
                border: 1px solid #ddd;

            }
        }

        tbody {
            border-collapse: collapse;

            td,
            th {
                background-color: $backgroundDeep;
            }
        }

        thead {

            tr,
            th {
                background-color: $darkAccent;
            }
        }
    }


    p,
    pre,
    a,
    ul {
        margin-left: 3vw;
        margin-right: 3vw;

        right {
            float: right;
        }
    }


    

    a {
        color: $mutedAccent;
        padding: 0%;
        margin: 0%;
    }
    a:hover {
        color: $accentColor;
    }


    pre {
        border-radius: 4px;
        padding: 0.6rem;
        background-color: $backgroundDeep;
        overflow-x: scroll;
        page-break-inside: avoid;

        code {
            background-color: $backgroundDeep;
        }
    }

    blockquote {

        margin-left: 2vw;

        * {
            margin-left: 0vw;
            margin-right: 0vw;

            border-left: 4px solid $accentColor;
            padding: 1rem;

        }
    }

    hr {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        border: 2px solid $accentColor;
    }

    .top {
        margin: 0%;
    }

    h1 {
        text-align: center;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        padding-left: 1.8em;

        li {
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
            margin-top: 0.1rem;
            margin-bottom: 0.1rem;

            p {
                display: inline;
                padding-left: 0%;
                margin-left: 0%;
            }
        }

        li::before {
            content: "•";
            font-weight: bolder;
            color: $accentColor;
            display: inline-block;
            width: 0.7em;
            margin-left: -1rem;
        }
    }

    p code {
        background-color: $backgroundDeep;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        border-radius: 3px;
    }
}