@use '_theme' as theme;
@use '_markdown';

html {
    font-size: 20px;
    background-color: black;
}

body {
    background-color: theme.$backgroundColor;
}

section {
    min-height: calc(100vh - 7.75rem);
    background-color: theme.$backgroundColor;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    // align-items: center;

    @media screen and (max-width: 600px) {
        margin-right: 2%;
        margin-left: 2%;
    }
}

.art-cardContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
    // align-items: center;

    @media screen and (max-width: 630px) {
        margin-right: 2%;
        margin-left: 2%;

        .art-prev {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.art-prev {
    // background-color: theme.$cardBg;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 600px) {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    img {
        z-index: 1;
        filter: brightness(70%);
        transition: filter 0.8s;
    }

    img:hover {
        filter: brightness(100%);
    }

    h1 {
        font-size: 1rem;
        pointer-events: none;
        margin: 10px;
        margin-top: -2rem;
        position: relative;
        z-index: 4;
    }
}

.card {
    background-color: theme.$cardBg;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 450px;

    @media screen and (max-width: 600px) {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        //     margin-right: 0%;
        //     margin-left: 0%;
        //     width: 100%;
    }

    border-radius: 1rem;
    border-width: 2px;

    border-style: solid;

    a {
        font: 100% theme.$font-stack;
        font-size: 1rem;

        text-decoration: none;
        color: theme.$fontColor;

        text-align: center;

        //expand to size of div
        height: 100%;
        width: 100%;
        display: block;

        h1 {
            font-size: 1.8rem;
        }

        p {
            font-size: 1rem;
        }

        hr {
            border-top: 2px solid;
            color: theme.$fontColor;
        }
    }

    a:hover {
        color: theme.$accentColor;

        hr {
            color: theme.$accentColor;
        }
    }
}

.center {
    text-align: center;
}

.rssbutt {
    svg {
        padding-left: 0.6rem;
        height: 2rem;
        fill: theme.$mutedAccent;
    }

    &:hover {
        svg {
            fill: theme.$accentColor;
        }
    }
}

.post {
    @include markdown.markdown;
    max-width: 900px;

    // @media screen and (max-width: 1200px) {
    //     max-width: 100%;
    //     margin-right: 6%;
    //     margin-left: 6%;
    // }

    margin-right: 4%;
    margin-left: 4%;

    h2 {
        color: theme.$darkAccent;

        a {
            color: theme.$darkAccent;
            text-decoration: none;
        }

        a::before {
            display: inline;
            content: "#";
            margin-left: -1em;
            margin-right: 0em;
            width: 1em;
        }

        &:hover {
            color: theme.$accentColor;
        }
    }

    .link_button {
        text-decoration: none;
        border: none;
        border-radius: 6px;
        border-width: 2px;
        border-style: solid;
        padding: 6px;

        font: 100% theme.$font-stack;

        color: theme.$mutedAccent;
        background-color: #e6e6e6;
        opacity: 0.9;

        font-size: 1.1rem;
        font-weight: 600;
    }

    @media screen and (max-width: 1000px) {
        margin-right: 3%;
        margin-left: 3%;

        h2 a::before {
            margin-left: 0px;
        }
    }

    @media screen and (max-width: 700px) {
        margin-right: 2%;
        margin-left: 2%;
    }
}

.indexArticle {
    @include markdown.markdown;
    max-width: 900px;

    // @media screen and (max-width: 1200px) {
    //     max-width: 100%;
    //     margin-right: 6%;
    //     margin-left: 6%;
    // }

    margin-right: 4%;
    margin-left: 4%;

    @media screen and (max-width: 1000px) {
        margin-right: 3%;
        margin-left: 3%;
    }

    @media screen and (max-width: 700px) {
        margin-right: 2%;
        margin-left: 2%;
    }
}

.analytics {
    @include markdown.markdown;
    max-width: 900px;

    margin-right: 4%;
    margin-left: 4%;

    @media screen and (max-width: 1000px) {
        margin-right: 3%;
        margin-left: 3%;
    }

    @media screen and (max-width: 700px) {
        margin-right: 2%;
        margin-left: 2%;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .inline {
        display: flex;
        flex-direction: row;

        div {
            margin-left: auto;

            p {
                text-wrap: nowrap;
                white-space: nowrap;
            }

        }
    }
}

body {
    margin: 0%;
}

.two_content {
    aside {
        .steam {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .badges {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        display: flex;
        flex-wrap: wrap;
        margin-left: 3%;
        padding: 5px;
        padding-top: 10px;

        @media screen and (max-width: 700px) {
            margin-right: 2%;
            margin-left: 2%;

            p {
                margin: auto;
            }
        }
    }

    // display: flex;
    // width: 100%;
    @media screen and (min-width: 1300px) {
        display: flex;

        article {
            // float: left;
            width: 66%;
            // justify-content: flex-end;
        }

        aside {
            // flex-flow: row-reverse;
            // justify-content: flex-end;
            display: block;
            margin-left: auto;

            // float: right;
            width: 40%;
            max-width: 400px;

            // margin-left: auto;
            p {
                padding: 0;
                margin: 0;
            }
        }
    }
}

footer {
    vertical-align: bottom;
    background-color: black;

    font: 200% theme.$font-stack2;
    font-size: 1rem;
    padding: 1rem;
    padding-left: 1rem;

    // position: fixed;
    // left: 0;
    // bottom: 0;
    width: 100%;
    box-sizing: border-box;

    .footflex {
        vertical-align: bottom;
        padding-right: 2rem;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        a {
            color: white;
            padding-right: 1rem;
        }
    }
}

.article-bottom-nav {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .bottom-previous {
        margin-left: auto;
    }
}

nav {
    font: 200% theme.$font-stack2;
    font-size: 1.5rem;

    color: white;
    text-decoration: none;
    // font-size: 1.2rem;

    background-color: black;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    // position: fixed;
    // left: 0;
    // bottom: 0;
    width: 100%;
    box-sizing: border-box;

    .navflex {
        padding-right: 2rem;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .logo {
            color: white;
            padding-right: 0.7rem;
            margin-top: 0.1rem;
        }

        .text {
            // font: theme.$font-stack2;
            color: white;
            text-decoration: none;
        }
    }
}