$font-stack2: Helvetica, sans-serif;
$font-stack: athelas, georgia, serif;
$textColor: rgb(248, 248, 249);

$backgroundColor: rgba(6, 4, 14, 0.637);
$backgroundDeep: rgb(18, 9, 30);
$accentColor: rgb(57, 201, 131);
$accentScroll: rgba(125, 185, 156, 0.415);
$darkAccent: rgb(25, 91, 60);
$mutedAccent: rgb(49, 137, 96);

// *{
    
    // font-size: 1rem;
// }

article {
    font: 100% $font-stack;

    font-size: 1.2rem;
    margin-right: 4%;
    margin-left: 4%;
    // width: 88%;
    // margin: auto;

    max-width: 900px;
    
    // @media screen and (max-width: 1200px) {
    //     max-width: 100%;
    //     margin-right: 6%;
    //     margin-left: 6%;
    // }

    @media screen and (max-width: 1000px) {
        margin-right: 3%;
        margin-left: 3%;
    }

    @media screen and (max-width: 700px) {
        margin-right: 2%;
        margin-left: 2%;
    }

    tr {
        page-break-inside: avoid;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    iframe {
        position: relative;
        width: 100%;
        
        // height: 56.25%;
        // padding-bottom: 56.25%;
        // margin-bottom: 56.25%;
        // box-sizing: border-box;
        // max-width: 100%;
    }

    table {
        border-collapse: collapse;
        width: 50vw;

        tbody,
        thead {

            tr,
            td,
            th {
                border: 1px solid #ddd;

            }
        }

        tbody {
            border-collapse: collapse;

            td,
            th {
                background-color: $backgroundDeep;
            }
        }

        thead {

            tr,
            th {
                background-color: $darkAccent;
            }
        }
    }


    p,
    pre,
    a,
    ul {
        // margin-left: 3vw;
        // margin-right: 3vw;

        right {
            float: right;
        }
    }

    .subtitle {
        font-size: medium;
        padding-top: 0%;
    }




    a {
        color: $mutedAccent;
        padding: 0%;
        margin: 0%;
    }

    a:hover {
        color: $accentColor;
    }

    pre {
        font-family: 'Courier New', Courier, monospace;
        font-weight: 100;
        font-size: 1rem;
        
        border-radius: 4px;
        padding: 0.6rem;
        background-color: $backgroundDeep;
        overflow-x: scroll;
        page-break-inside: avoid;
    }

    blockquote {

        margin-left: 2vw;

        * {
            margin-left: 0vw;
            margin-right: 0vw;

            border-left: 4px solid $accentColor;
            padding: 1rem;

        }
    }

    hr {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        border: 2px solid $accentColor;
    }

    .top {
        margin: 0%;
    }

    h1 {
        font-size: 3rem;
        margin: auto;
        padding-top: 1rem;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        padding-left: 1.8em;

        li {
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
            margin-top: 0.1rem;
            margin-bottom: 0.1rem;

            p {
                display: inline;
                padding-left: 0%;
                margin-left: 0%;
            }
        }

        li::before {
            content: "•";
            font-weight: bolder;
            color: $accentColor;
            display: inline-block;
            width: 0.7em;
            margin-left: -1rem;
        }
    }

    p code {
        background-color: $backgroundDeep;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        border-radius: 3px;
    }
}

body {
    margin: 0%;
}

footer {
    background-color: black;
    font-size: 1.2rem;
    padding: 1rem;
    padding-left: 2rem;
    // position: fixed;
    // left: 0;
    // bottom: 0;
    width: 100%;
    box-sizing: border-box;
    
    .footflex {
        padding-right: 2rem;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        a {
            color: white;
            padding-right: 1rem;
        }
    }
}

nav {
    font: 200% $font-stack2;
    font-size: 1.5rem;

    color: white;
    // font-size: 1.2rem;
   
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    // position: fixed;
    // left: 0;
    // bottom: 0;
    width: 100%;
    box-sizing: border-box;
    .logo {
        // font: $font-stack2;
        color: white;
        text-decoration: none;
    }
}