[submodule "static/assets/simplevarletout"]
	path = static/assets/simplevarletout
	url = https://github.com/uberfig/simplevarletout.git
[submodule "public/assets/simplevarletout"]
	path = public/assets/simplevarletout
	url = https://github.com/uberfig/simplevarletout.git
