<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-start">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
  <a rel="me" href="https://cutie.city/@ivy"><img src="/cutiecity.svg" alt="mastodon link" style="width:42px;height:42px;"></a>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
  
</footer>
