{% extends "base.html" %}

{% block head %}

<meta property="og:url" content="{{ current_url }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Ivytime" />
<meta property="og:description" content="{{ section.description }}" />
{% if section.preview_img %}
<meta property="og:image" content="{{ section.preview_img }}" />
{% endif %}

{% endblock %}

{% block content %}
{# <p>{{ section.title }}</p> #}
<div class="two_content">
  <article class="indexArticle">

    <h1 class="title">
      {{ section.title }}
    </h1>

    {{ section.content | safe }}

    <h2>
      {# Recent Posts #}
      <a href="{{ get_url(path='@/posts/_index.md') }}"><button>Ivy's Blog</button></a>
    </h2>

    <hr>
    <p class="center">Part of the <a href="https://ivytime.gay/goobers">little goober webring</a></p>
    <P class="center"><a href="https://tpgc.me/">&#60;-Hannah</a> ivytime <a href="https://jacobswackyworld.ca/"> jacobswackyworld-&#62;</a></P>
    <hr>

  </article>

  <aside>
    <p>
      <iframe src="https://gamer2810.github.io/steam-miniprofile/?accountId=881696304" style="border:0px #ffffff none;"
        name="myiFrame" scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="230px" width="350"
        allowfullscreen></iframe>
    </p>
    <p>
      <iframe src="https://cutie.city/@ivy/111066574227292525/embed" class="mastodon-embed"
        style="max-width: 100%; border: 0" width="350" allowfullscreen="allowfullscreen"></iframe>
      <script src="https://cutie.city/embed.js" async="async"></script>
    </p>
  </aside>
</div>

{% endblock content %}