{% extends "base.html" %}

{% block head %}

<meta property="og:url" content="{{ current_url }}" >
<meta property="og:type" content="article" >
<meta property="og:title" content="Ivytime" >
<meta property="og:description" content="{{ section.description }}" >
{% if section.preview_img %}
<meta property="og:image" content="{{ section.preview_img }}" >
{% endif %}

{% endblock %}

{% block content %}
{# <p>{{ section.title }}</p> #}
<div class="two_content">
  <article class="indexArticle">

    <h1 class="title">
      {{ section.title }}
    </h1>

    {{ section.content | safe }}
    
    <p>
    <a href="{{ get_url(path='@/posts/_index.md') }}" class="section-link">Blog</a>
    <a href="{{ get_url(path='@/art/_index.md') }}" class="section-link">Art</a>
    </p>

    <br>
    <hr>
    <p class="center">Part of the <a href="https://ivytime.gay/goobers">lil' goober webring</a></p>
    <div class="center">
      <ul class="webring">
        <li><a href="http://tbs.mywire.org/">&#60;&#8208;The&#160;Bomb&#160;Shelter</a></li>
        <li>ivytime</li>
        <li><a href="https://sayori.tpgc.me/">The&#160;Bunni&#160;Pen&#8208;&#62;</a></li>
      </ul>
    </div>
    <hr>

  </article>

  <aside>
    <p>
      <iframe src="https://gamer2810.github.io/steam-miniprofile/?accountId=881696304" style="border:0px #ffffff none;"
        name="myiFrame" scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="230px" width="350"
        allowfullscreen></iframe>
    </p>
    <p>
      <div style="width: 350px; height: 470;">
      <iframe style="border-radius:12px"
        src="https://open.spotify.com/embed/playlist/6aP9PNqMXg0zeHreO848v7?utm_source=generator" width="100%"
        height="470" frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
    </p>
  </aside>
</div>

{% endblock content %}